
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>添加试题</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>

<table width="100%" border="1">
  <tr>
    <th scope="row"><a href="single_choice_add">
      <button>单选题</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="true_false_add">
      <button>判断题</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="operation_add">
      <button>操作题</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="multiple_choice_add">
      <button>多选题</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="fill_blank_add">
      <button>填空题</button>
    </a></th>
  </tr>
</table>

</body>
</html>
