<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<form action="__SELF__" method="post" enctype="multipart/form-data" name="register_form" target="_self">
<table width="90%" border="1">
  <tr>
    <th scope="row">用户名</th>
    <td><input type="text" name="username" /></td>
  </tr>
  <tr>
    <th scope="row">密码</th>
    <td><input type="password" name="password"  /></td>
  </tr>
  <tr>
    <th scope="row">密码确认</th>
    <td><input type="password" name="conform" /></td>
  </tr>
  <tr>
    <th scope="row">处室</th>
    <td><input type="text" name="department" /></td>
  </tr>
  <tr>
    <th scope="row"><input type="submit" name="submit" value="确认" /></th>
    <td><input type="submit" name="cancel" value="取消" /></td>
  </tr>
</table>

</form>
</body>
</html>
