
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>后台管理</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>

<table width="100%" border="1">
  <tr>
    <th scope="row"><a href="/sangao_admin/User/lists">
      <button>用户管理</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao_admin/Index/click_statistics">
      <button>访问统计</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao_admin/Knowledge/index">
      <button>知识点管理</button>
    </a></th>
  </tr>  
  <tr>
    <th scope="row"><a href="/sangao_admin/Question/index">
      <button>试题管理</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao_admin/Exam/lists">
      <button>试卷管理</button>
    </a></th>
  </tr>  
  <tr>
    <th scope="row"><a href="/sangao_admin/Record/lists">
      <button>实录管理</button>
    </a></th>
  </tr>            
  <tr>
    <th scope="row"><a href="/sangao_admin/TeachExam/lists">
      <button>教资考试</button>
    </a></th>
  </tr>              
</table>

</body>
</html>
