<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

<title>添加</title>
</head>

<body>
<style>
tr{
	height:200px;
	font-size:48px;
	}
button{
	width:100px;
	height:100px;
	}
input{
	width:50px;
	height:50px;
	}
input[type="submit"]{
	width:200px; 
	height:300px; 
	font-size:36px;
	}
input[type="text"]{
	width:80%;
	}
input[type="file"]{
	width:100%;
	}
textarea{
	width:100%;
	}	
</style>
<form action="add" method="post" enctype="multipart/form-data" name="add_form" target="_self">
  <table width="100%" border="1">
    <tr>
      <th scope="row">标题</th>
      <td><input type="text" name="title"></td>
    </tr>
    <tr>
      <th scope="row">视频（可以为空）</th>
      <td><input type="file" name="works_file" class="file"></td>
    </tr>
    <tr>
      <th scope="row">音频(可以直接转为文字)</th>
      <td><input type="file" name="audio" accept=".wav,.mp3,.m4a,.flac"></td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td><input type="submit" value="提交"></td>
    </tr>
  </table>
</form>
</body>
</html>
