
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>我的入口</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>

<table width="100%" border="1">
  <tr>
    <th scope="row"><a href="/sangao/Design/lists">
      <button>教学视频</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao/Exam/lists">
      <button>考试练习</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao/Note/index">
      <button>答案解析</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao/Question/select">
      <button>试题</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao/Exam/exam_paper_lists">
      <button>试卷</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/fileserver">
      <button>相关下载</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao/StudentWorks/lists" onClick="getNowTime()" id="shetuanzuopin">
      <button>成员作品</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao/User/lists" onClick="getNowTime()" id="shetuanzuopin2">
      <button>成员名单</button>
    </a></th>
  </tr>
</table>
</body>
</html>
