
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>知识点管理</title>
</head>

<body>
<style>
button{
	width:100%;
	height:150px;
	font-size:48px;
	}
a[id=fileserver]{
	font-size:60px;
	}
</style>

<table width="100%" border="1">
  <tr>
    <th scope="row"><a href="/sangao_admin/Knowledge/select">
      <button>知识点查询</button>
    </a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/sangao_admin/Knowledge/add">
      <button>知识点添加</button>
    </a></th>
  </tr>  
  <tr>
    <th scope="row"><a href="/sangao_admin/Question/error_question">
      <button>错题查询</button>
    </a></th>
  </tr>
</table>

</body>
</html>
